OPENAI_API_KEY=
MONGODB_CONNECTION_STRING=
GITHUB_REPO=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=LEC-Project

MONGODB_DB=lec-project
MONGODB_COLLECTION=embeddings

EMBEDDING_MODEL=BAAI/bge-small-en-v1.5

OPENAI_MODEL=gpt-4o-mini
LLM_PRICE_INPUT=0.150
LLM_PRICE_OUTPUT=0.600